@page "/"
@using Microsoft.Extensions.Localization
@inject NavigationManager _navigationManager
@inject IStringLocalizer<App> _localizer
@inject IJSRuntime JS;

<!--#region Navigation Bar-->
<nav class="navbar shadow navbar-expand-lg fixed-top">
    <div class="container" id="home">
        <a class="navbar-brand" href="#">
            XACTAS
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link" target="_parent" href="https://www.youtube.com/watch?v=xyG8lwxvC9s">
                        <img src="images/navbar/video.webp" alt="" />@_localizer["video"]
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" target="_parent" href="https://github.com/DIMANRUS/XACTAS">
                        <img src="images/navbar/code.webp" alt="" /><span>@_localizer["code"]</span>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" target="_parent" href="https://github.com/DIMANRUS/XACTAS/issues">
                        <img src="images/navbar/bug.webp" alt="" /><span>@_localizer["bug"]</span>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" target="_parent" href="https://github.com/DIMANRUS/XACTAS/discussions">
                        <img src="images/navbar/idea.webp" alt="" /><span>@_localizer["idea"]</span>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="https://dimanrus.ru/support">
                        <img src="images/navbar/support.webp" alt="" /><span>@_localizer["support"]</span>
                    </a>
                </li>
                <li class="nav-item dropdown li-select-language">
                    <a class="nav-link dropdown-toggle" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        <img src="images/languages/language.webp" alt="" /><span>@_localizer["language"]</span>
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <li>
                            <a class="dropdown-item" @onclick="@(_ => OnSelectedLanguage("en"))">
                                <img src="images/languages/usa.webp" alt="" /><span>English</span>
                            </a>
                        </li>
                        <li>
                            <a class="dropdown-item" @onclick="@(_ => OnSelectedLanguage("ru"))">
                                <img src="images/languages/russia.webp" alt="" /><span>Русский</span>
                            </a>
                        </li>
                        <li>
                            <a class="dropdown-item" @onclick="@(_ => OnSelectedLanguage("zh"))">
                                <img src="images/languages/china.webp" alt="" /><span>中文</span>
                            </a>
                        </li>
                        <li>
                            <a class="dropdown-item" @onclick="@(_ => OnSelectedLanguage("tr"))">
                                <img src="images/languages/turlish.webp" alt="" /><span>Türkçe</span>
                            </a>
                        </li>
                        <li>
                            <a class="dropdown-item" @onclick="@(_ => OnSelectedLanguage("ar"))">
                                <img src="images/languages/arabic.webp" alt="" /><span>العربية</span>
                            </a>
                        </li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</nav>
<!--#endregion-->
<section class="topBlockSection">
    <div class="container justify-content-center">
        @*   <div class="logo-block">*@
        <img class="xactas-logo" src="images/xactas.webp" alt="" title="logo" />
        <h1>XACTAS</h1>
        @*        </div>*@
        <h2>@_localizer["description"]</h2>
        <div class="download-block">
            <img class="d-inline-block" height="50" width="50" alt="" src="images/windows.webp" />
            <div class="d-inline-block">
                <p>WINDOWS</p>
                <p>2.3.0</p>
            </div>
            <a href="/App/DownloadWinApp" class="d-inline-block"><img src="images/navbar/download.webp" /></a>
            @*            <a href="/App/DownloadWinApp"><input class="btn btn-primary" type="button" value="Скачать" /></a>*@
        </div>
    </div>
</section>
<section class="container-fluid">
    <div class="row justify-content-center">
        <div class="corner-block col-xl-4">
            <p>@_localizer["rider"]</p>
            <a href="https://www.jetbrains.com/ru-ru/rider/" class="btn btn-primary" style="display: block">@_localizer["download"]</a>
        </div>
        <div class="corner-block col-xl-4">
            <p>@_localizer["downloadFile"]</p>
            <a href="https://dotnet.microsoft.com/en-us/download/dotnet/6.0" class="btn btn-primary d-inline-block">.NET 6 Runtime</a>
            <a href="https://docs.microsoft.com/ru-RU/cpp/windows/latest-supported-vc-redist?view=msvc-160" class="btn btn-primary d-inline-block">VC 2015-2022</a>
        </div>
    </div>
</section>
<section class="container justify-content-center" id="ui">
    <div class="d-inline-block shadow-corner ui-block">
        <p class="d-inline-block">App</p>
        <span class="d-inline-block" tabindex="0" data-bs-toggle="popover" data-bs-trigger="click hover focus" data-bs-content="@_localizer["folderUi"]">
            <img alt="" src="images/uiApp/folder.webp" />
        </span>
        <span class="d-inline-block" tabindex="0" data-bs-toggle="popover" data-bs-trigger="click hover focus" data-bs-content="@_localizer["launchUi"]">
            <img alt="" src="images/uiApp/launch.webp" />
        </span>
        <span class="d-inline-block" tabindex="0" data-bs-toggle="popover" data-bs-trigger="click hover focus" data-bs-content="@_localizer["vsUi"]">
            <img alt="" src="images/uiApp/vs.webp" />
        </span>
        <span class="d-inline-block" tabindex="0" data-bs-toggle="popover" data-bs-trigger="click hover focus" data-bs-content="@_localizer["asUi"]">
            <img alt="" src="images/uiApp/android-studio.webp" />
        </span>
        <span class="d-inline-block" tabindex="0" data-bs-toggle="popover" data-bs-trigger="click hover focus" data-bs-content="@_localizer["removeUi"]">
            <img alt="" src="images/uiApp/remove.webp" />
        </span>
    </div>
    <div class="d-inline-block shadow-corner ui-block">
        <span class="d-inline-block" tabindex="0" data-bs-toggle="popover" data-bs-trigger="click hover focus" data-bs-content="@_localizer["foldervsUi"]">
            <img alt="" title="" src="images/uiapp/foldervs.webp" />
        </span>
        <span class="d-inline-block" tabindex="0" data-bs-toggle="popover" data-bs-trigger="click hover focus" data-bs-content="@_localizer["folderasUi"]">
            <img alt="" title="" src="images/uiapp/folderas.webp" />
        </span>
        <span class="d-inline-block" tabindex="0" data-bs-toggle="popover" data-bs-trigger="click hover focus" data-bs-content="@_localizer["languageUi"]">
            <img alt="" title="" src="images/uiapp/ru.webp" />
        </span>
        <span class="d-inline-block" tabindex="0" data-bs-toggle="popover" data-bs-trigger="click hover focus" data-bs-content="@_localizer["themeUi"]">
            <img alt="" title="" src="images/uiapp/brush.webp" />
        </span>
        <span class="d-inline-block" tabindex="0" data-bs-toggle="popover" data-bs-trigger="click hover focus" data-bs-content="@_localizer["informationUi"]">
            <img alt="" title="" src="images/uiapp/help.webp" />
        </span>
    </div>
    <div class="d-inline-block shadow-corner ui-block">
        <p class="d-inline-block">App</p>
        <span class="d-inline-block" tabindex="0" data-bs-toggle="popover" data-bs-trigger="click hover focus" data-bs-content="@_localizer["stopUi"]">
            <img alt="" src="images/uiapp/stop.webp" />
        </span>
    </div>
    <div class="d-inline-block shadow-corner ui-block">
        <span class="d-inline-block" tabindex="0" data-bs-toggle="popover" data-bs-trigger="click hover focus" data-bs-content="@_localizer["addUi"]">
            <img alt="" title="" src="images/uiapp/add.webp" />
        </span>
    </div>
</section>
@*<section class="container justify-content-center">
    <div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel">
        <div class="carousel-indicators">
            <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
            <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
            <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
        </div>
        <div class="carousel-inner">
            <div class="carousel-item active">
                <img src="..." class="d-block w-100" alt="...">
            </div>
            <div class="carousel-item">
                <img src="..." class="d-block w-100" alt="...">
            </div>
            <div class="carousel-item">
                <img src="..." class="d-block w-100" alt="...">
            </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
        </button>
    </div>
</section>*@
@code {
    public void OnSelectedLanguage(string culture) =>
        _navigationManager.NavigateTo($"/Culture/SetCulture?culture={Uri.EscapeDataString(culture)}", true);

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
            await JS.InvokeVoidAsync("popoverInit");
    }
}