@page "/"
@using Microsoft.Extensions.Localization
@inject NavigationManager _navigationManager
@inject IStringLocalizer<App> _localizer
@inject IJSRuntime JS;

<!--#region Navigation Bar-->
<nav class="navbar shadow navbar-expand-lg fixed-top">
    <div class="container" id="home">
        <a class="navbar-brand" href="#">
            XACTAS
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                @foreach (var navItem in navItems)
                {
                    <li class="nav-item">
                        <a class="nav-link" target="_parent" href="@navItem.Url">
                            <img src="@navItem.Image" alt="" />@_localizer[navItem.Name]
                        </a>
                    </li>
                }
                <li class="nav-item dropdown li-select-language">
                    <a class="nav-link dropdown-toggle" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        <img src="images/languages/language.webp" alt="" /><span>@_localizer["language"]</span>
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                        @foreach (var languageItem in languageItems)
                        {
                            <li>
                                <a class="dropdown-item" @onclick="@(_ => OnSelectedLanguage(languageItem.Id))">
                                    <img src="@languageItem.Image" alt="" /><span>@languageItem.Name</span>
                                </a>
                            </li>
                        }
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</nav>
<!--#endregion-->
<section class="topBlockSection">
    <div class="container justify-content-center">
        <img class="xactas-logo" src="images/xactas.webp" alt="" title="logo" />
        <h1>XACTAS</h1>
        <h2>@_localizer["description"]</h2>
        <div class="download-block">
            <img class="d-inline-block" height="50" width="50" alt="" src="images/windows.webp" />
            <div class="d-inline-block">
                <p>WINDOWS</p>
                <p>2.4.0</p>
            </div>
            <a href="https://github.com/DIMANRUS/XACTAS/releases" class="d-inline-block"><img src="images/navbar/download.webp" alt="" /></a>
        </div>
    </div>
</section>
<section class="container-fluid">
    <div class="row justify-content-center additionals-download-block">
        <div class="corner-block col-xl-4">
            <p>@_localizer["rider"]</p>
            <a href="https://www.jetbrains.com/ru-ru/rider/" class="btn btn-primary" style="display: block">@_localizer["download"]</a>
        </div>
        <div class="corner-block col-xl-4">
            <p>@_localizer["downloadFile"]</p>
            <a href="https://dotnet.microsoft.com/en-us/download/dotnet/6.0" class="btn btn-primary d-inline-block">.NET 6 Runtime</a>
            <a href="https://docs.microsoft.com/ru-RU/cpp/windows/latest-supported-vc-redist?view=msvc-160" class="btn btn-primary d-inline-block">VC 2015-2022</a>
        </div>
    </div>
</section>
<section class="container justify-content-center" id="ui">
    <div class="d-inline-block shadow-corner ui-block">
        <p class="d-inline-block">App</p>
        <span class="d-inline-block" tabindex="0" data-bs-toggle="popover" data-bs-trigger="click hover focus" data-bs-content="@_localizer["folderUi"]">
            <img alt="" src="images/uiApp/folder.webp" />
        </span>
        <span class="d-inline-block" tabindex="0" data-bs-toggle="popover" data-bs-trigger="click hover focus" data-bs-content="@_localizer["launchUi"]">
            <img alt="" src="images/uiApp/launch.webp" />
        </span>
        <span class="d-inline-block" tabindex="0" data-bs-toggle="popover" data-bs-trigger="click hover focus" data-bs-content="@_localizer["vsUi"]">
            <img alt="" src="images/uiApp/vs.webp" />
        </span>
        <span class="d-inline-block" tabindex="0" data-bs-toggle="popover" data-bs-trigger="click hover focus" data-bs-content="@_localizer["asUi"]">
            <img alt="" src="images/uiApp/android-studio.webp" />
        </span>
        <span class="d-inline-block" tabindex="0" data-bs-toggle="popover" data-bs-trigger="click hover focus" data-bs-content="@_localizer["removeUi"]">
            <img alt="" src="images/uiApp/remove.webp" />
        </span>
    </div>
    <div class="d-inline-block shadow-corner ui-block">
        <span class="d-inline-block" tabindex="0" data-bs-toggle="popover" data-bs-trigger="click hover focus" data-bs-content="@_localizer["foldervsUi"]">
            <img alt="" title="" src="images/uiapp/foldervs.webp" />
        </span>
        <span class="d-inline-block" tabindex="0" data-bs-toggle="popover" data-bs-trigger="click hover focus" data-bs-content="@_localizer["folderasUi"]">
            <img alt="" title="" src="images/uiapp/folderas.webp" />
        </span>
        <span class="d-inline-block" tabindex="0" data-bs-toggle="popover" data-bs-trigger="click hover focus" data-bs-content="@_localizer["languageUi"]">
            <img alt="" title="" src="images/uiapp/ru.webp" />
        </span>
        <span class="d-inline-block" tabindex="0" data-bs-toggle="popover" data-bs-trigger="click hover focus" data-bs-content="@_localizer["themeUi"]">
            <img alt="" title="" src="images/uiapp/brush.webp" />
        </span>
        <span class="d-inline-block" tabindex="0" data-bs-toggle="popover" data-bs-trigger="click hover focus" data-bs-content="@_localizer["informationUi"]">
            <img alt="" title="" src="images/uiapp/help.webp" />
        </span>
    </div>
    <div class="d-inline-block shadow-corner ui-block">
        <p class="d-inline-block">App</p>
        <span class="d-inline-block" tabindex="0" data-bs-toggle="popover" data-bs-trigger="click hover focus" data-bs-content="@_localizer["stopUi"]">
            <img alt="" src="images/uiapp/stop.webp" />
        </span>
    </div>
    <div class="d-inline-block shadow-corner ui-block">
        <span class="d-inline-block" tabindex="0" data-bs-toggle="popover" data-bs-trigger="click hover focus" data-bs-content="@_localizer["addUi"]">
            <img alt="" title="" src="images/uiapp/add.webp" />
        </span>
    </div>
</section>
@code {
    #region Methods
    public void OnSelectedLanguage(string culture) =>
            _navigationManager.NavigateTo($"/Culture/SetCulture?culture={Uri.EscapeDataString(culture)}", true);
    #endregion

    #region Collections
    readonly IEnumerable<NavItem> navItems = new List<NavItem>()
    {
        new(){
            Name = "video",
            Url = "https://www.youtube.com/watch?v=xyG8lwxvC9s"
        },
        new(){
            Name = "code",
            Url = "https://github.com/DIMANRUS/XACTAS"
        },
        new(){
            Name = "bug",
            Url = "https://github.com/DIMANRUS/XACTAS/issues"
        },
        new(){
            Name = "idea",
            Url = "https://github.com/DIMANRUS/XACTAS/discussions"
        },
        new(){
            Name = "support",
            Url = "https://dimanrus.ru"
        }
    };
    readonly IEnumerable<LanguageItem> languageItems = new List<LanguageItem>(){
        new(){
            Id = "en",
            Name =  "English"
        },
        new(){
            Id = "ru",
            Name = "Русский"
        },
        new(){
            Id = "zh",
            Name = "中文"
        },
        new(){
            Id = "tr",
            Name = "Türkçe"
        },
        new(){
            Id = "ar",
            Name = "العربية"
        }
    };
    #endregion

    #region Initialization
    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
            await JS.InvokeVoidAsync("popoverInit");
    }
    #endregion

    #region Classes
    class NavItem
    {
        public string Name { get; set; }
        public string Image => $"images/navbar/{Name}.webp";
        public string Url { get; set; }
    }

    class LanguageItem
    {
        public string Id { get; set; }
        public string Name { get; set; }
        public string Image => $"images/languages/{Id}.webp";
    }
    #endregion
}